.header-nav {
    display: flex;
}

.header-nav__item {
    padding: 20px;
}

.header-nav__button {
    font-size: 20px;
    border: none;
    background-color: #fff;
}

.header-nav__item:last-of-type {
    padding-right: 0;
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

.main-message {
    font-size: 30px;
    text-align: center;
    padding:
}