.header-nav {
    display: flex;
}

.header-nav__item {
    padding: 20px;
}

.header-nav__button {
    font-size: 20px;
    border: none;
    background-color: #fff;
}

.header-nav__item:last-of-type {
    padding-right: 0;
}

.main-container {
    width: 70%;
    margin: 0 auto;
}

.main-message {
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

.main-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-button {
    width: 45%;
    height: 200px;
    margin-bottom: 50px;
}